.btn i {
  font-style: normal;
}

.toolbar .btn .btn-label {
  font-size: 11px;
  line-height: 0;
}

.editable[contenteditable="true"] {
  border: 1px dotted #aaa;
}

textarea {
  height: 300px;
  width: 100%;
}

body {
  padding-top: 40px;

  #save {
    display: none;
  }

  .navbar-form.toolbar {
    display: none;
  }
}

body.editing {
  #save {
    display: inline-block;
  }
  .navbar-form.toolbar {
    display: block;
  }
  .editor-power-help {
    display: none;
  }
}
