!!!
%html
  %head
    %link{ rel: "stylesheet", href: "/css/bootstrap.min.css" }
    %link{ rel: "stylesheet", href: "//netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css" }
    %link{ rel: "stylesheet", href: "/css/fondant.css" }
  %body
    .navbar.navbar-static-top
      .navbar-inner
        %a.brand Fondant

        .navbar-form.actions.pull-right
          %span.btn.btn-info.disabled.editor-power-help
            Click the power button to start the editor →
          %a.btn.btn-success.btn-editor.save#save{ href: '#' }
            %i.icon-ok
          %a.btn.btn-success.power{ href: '#' }
            %i.icon-off

        .navbar-form.toolbar
          .btn-group
            %a.btn.bold{ href: '#' }
              %i.icon-bold
            %a.btn.italic{ href: '#' }
              %i.icon-italic

          .btn-group
            %a.btn.dropdown-toggle{ data: { toggle: 'dropdown' },  href: '#' }
              %i.icon-list
            %ul.dropdown-menu
              %li
                %a.ol{ href: '#', tabindex: '-1' }
                  Numbered
                %a.ul{ href: '#', tabindex: '-1' }
                  Bullets

          .btn-group
            %a.btn.outdent{ href: '#' }
              %i.icon-indent-right

            %a.btn.indent{ href: '#' }
              %i.icon-indent-left

          .btn-group
            %a.btn.code{ href: '#' }
              %i.icon-edit

    .container
      %h1.editable{ data: { bind: 'title' } }= @title
      %div.editable{ data: { bind: 'body' } }= @body

    %script{ src: 'http://code.jquery.com/jquery.min.js' }
    %script{ src: "//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/js/bootstrap.min.js" }
    %script{ src: '/js/jquery.htmlClean.min.js' }
    %script{ src: '/js/fondant.js' }

