!!!
%html
  %head
    %link{ rel: "stylesheet", href: "/css/bootstrap.min.css" }
    %link{ rel: "stylesheet", href: "//netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css" }
    %link{ rel: "stylesheet", href: "/css/fondant.css" }
    %link{ rel: "stylesheet", href: "/css/app.css" }
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.brand Fondant

          .navbar-form.actions.pull-right
            %span.btn.disabled.editor-power-help
              Click the edit button to start the editor →
            %a.btn.btn-success.btn-editor.save#save{ href: '#' }
              %i.icon-save
            %a.btn.btn-success.power{ href: '#' }
              %i.icon-pencil

    .container
      %h1.editable{ data: { bind: 'title' } }= @title
      %textarea{ rows: 10, cols: 100, data: { bind: 'body' } }= @body

    %script{ src: 'http://code.jquery.com/jquery.min.js' }
    %script{ src: "//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/js/bootstrap.min.js" }
    %script{ src: '/js/jquery.htmlClean.min.js' }
    %script{ src: '/js/fondant.js' }
    :javascript
      $(function() {

        $('.actions a.power').on('click', function() {
          $('textarea').fondant();
        });

      });


