// Fondant v0.4.1
// see http://github.com/ovenbits-ingredients/fondant for more information
//
.fondant-toolbar {
  display: inline;
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    display: none;
  }

  ul {
    display: inline;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;

      a {
        background: #eee;
        border: 1px solid #ddd;
        border-radius: 0.3rem;
        color: #777;
        padding: 0.2rem 0.4rem;
        &:hover {
          background: #e0e0e0;
          text-decoration: none;
        }
      }

    }
  }
}

